Repository tskit-dev/msprime: changes, and which Codecov flags are due for each by the changed paths.
All: Python API, Python C interface, C library

Fix SMCk common-ancestor walk crash when random_mass is zero
  lib/msprime.c
  lib/tests/test_ancestry.c
Due: C library

Replace SMCk regression test with a scripted-RNG unit test
  CHANGELOG.md
  lib/tests/test_ancestry.c
Due: none

Update the changelog for release
  CHANGELOG.md
Due: none

Update changelog post release.
  CHANGELOG.md
Due: none

fix codecov action
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Add zizmor and harden GitHub Actions workflows
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
  .github/zizmor.yml
  prek.toml
  pyproject.toml
  uv.lock
Due: none

Use shared workflows @main to test hardening
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin tskit-dev shared workflows to v18
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Update uv lock
  uv.lock
Due: none

Pass CODECOV_TOKEN explicitly; point shared workflows at main
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin tskit-dev shared workflows to v19
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/wheels.yml
Due: none

Pin jupyter-book<2 for docs build
  pyproject.toml
  uv.lock
Due: none

remove SLiM metadata; closes #2534
  CHANGELOG.md
  lib/msprime.h
  lib/mutgen.c
  lib/tests/test_mutations.c
  msprime/_msprimemodule.c
  msprime/mutations.py
  tests/test_mutations.py
  tests/test_python_c.py
Due: Python API, Python C interface, C library

Update build-wheels workflow version to v21
  .github/workflows/wheels.yml
Due: none

new slim metadata
  CHANGELOG.md
  docs/mutations.md
  lib/mutgen.c
  lib/tests/test_mutations.c
  msprime/mutations.py
  tests/test_mutations.py
  tests/test_python_c.py
Due: Python API, C library

Revert "remove SLiM metadata; closes #2534"
  CHANGELOG.md
  lib/msprime.h
  lib/mutgen.c
  lib/tests/test_mutations.c
  msprime/_msprimemodule.c
  msprime/mutations.py
  tests/test_mutations.py
  tests/test_python_c.py
Due: Python API, Python C interface, C library

added new slim v6 model
  CHANGELOG.md
  docs/api.md
  docs/mutations.md
  lib/msprime.h
  lib/mutgen.c
  lib/tests/test_mutations.c
  msprime/__init__.py
  msprime/_msprimemodule.c
  msprime/mutations.py
  tests/test_mutations.py
  tests/test_python_c.py
Due: Python API, Python C interface, C library

version bump in changelog
  CHANGELOG.md
Due: none

upcoming
  CHANGELOG.md
Due: none

census node per lineage, not segment: closes #2540 and check for existing nodes
  CHANGELOG.md
  lib/msprime.c
  lib/tests/test_ancestry.c
  tests/test_demography.py
Due: C library

version bump
  CHANGELOG.md
Due: none

Path conditions:
  Python API: any of: msprime/*.py, but not: lib/tests/, lib/dev-tools/, lib/avl.c, lib/subprojects/**/*
  Python C interface: any of: msprime/_msprimemodule.c, but not: lib/tests/, lib/dev-tools/, lib/avl.c, lib/subprojects/**/*
  C library: any of: lib, but not: lib/tests/, lib/dev-tools/, lib/avl.c, lib/subprojects/**/*
